html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  font-size: 10px;
}

@media (max-width: 1700px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 1300px) {
  :root {
    font-size: 6px;
  }
}

@media (max-width: 960px) {
  :root {
    font-size: 4px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

body .eagle {
  background-image: url("./pictures/eagle-landing-page.jpg");
  height: 100vh;
}

body .eagle h1, body .eagle h2 {
  text-align: center;
  color: white;
}

body .eagle h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 7.2rem;
  margin: 12rem 0 6rem;
}

body .eagle h1 {
  font-size: 15rem;
  font-weight: bold;
}

body .eagle hr {
  width: 3%;
  height: .3rem;
  margin-top: 7rem;
  background-color: white;
  border: none;
}

body .eagle .button {
  width: 8%;
  margin: 5rem auto 0;
  border: .3rem solid white;
  text-align: center;
  padding: 1.2rem 2.8rem;
}

body .eagle .button p {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (max-width: 1700px) {
  body .eagle .button {
    margin: 15rem auto 0;
  }
}

@media (max-width: 1300px) {
  body .eagle .button {
    margin: 20rem auto 0;
  }
}

.nav-bar {
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}

.nav-bar div:first-child {
  display: inline-block;
  width: 15%;
}

.nav-bar div:first-child h3 {
  color: white;
  margin-top: 5rem;
  margin-left: 10rem;
  font-size: 3rem;
  font-weight: bold;
}

.nav-bar div:last-child {
  display: inline-block;
  width: 85%;
  margin-top: 5rem;
}

.nav-bar div:last-child h4 {
  display: inline;
  color: white;
  font-size: 1.4rem;
  float: right;
  margin-right: 6rem;
}

.nav-bar div:last-child img {
  float: right;
  margin-right: 6rem;
}

.bottom-nav {
  width: 80%;
  margin: 0 auto;
  font-size: 0;
  margin-top: 7rem;
}

@media (max-width: 1700px) {
  .bottom-nav {
    margin-top: 15rem;
  }
}

@media (max-width: 1300px) {
  .bottom-nav :root {
    font-size: 6px;
  }
}

.bottom-nav div {
  display: inline-block;
  width: 22.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: .3rem solid #f7eac5;
  padding-top: 25px;
  margin: 0 1.25%;
  text-align: left;
}

.bottom-nav div h4 {
  display: inline;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin-right: .7rem;
}

.bottom-nav div p {
  display: inline;
  font-size: 1.4rem;
  color: white;
}

.about-us {
  text-align: center;
  margin-bottom: 6rem;
}

.about-us h4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.4rem;
  margin: 9rem 0 2rem;
}

.about-us h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.about-us hr {
  width: 3%;
  height: .3rem;
  background-color: #f38181;
  border: none;
}

.about-us p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #999999;
  padding: 5rem 20% 0;
  line-height: 1.5rem;
}

.about-us div {
  width: 80%;
  margin: 9rem auto 0;
  font-size: 0;
}

.about-us div img:not(:nth-child(2)) {
  vertical-align: top;
  display: inline-block;
  width: 32%;
}

.about-us div img:nth-child(2) {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  margin: 0 2%;
}

.numbers {
  max-height: 25rem;
  background-color: #95e1d3;
}

.numbers div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}

.numbers div div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  padding: 3% 0;
  text-align: center;
}

.numbers div div h2 {
  font-size: 7.2rem;
  font-weight: bold;
  color: white;
}

.numbers div div p {
  margin-top: 2.7rem;
  font-size: 1.4rem;
  font-weight: 100;
  color: white;
}

.numbers div div:not(:first-child) {
  border-left: .1rem solid #b5eae0;
}

.about-us.second {
  height: 20rem;
}

.services {
  width: 80%;
  height: 40rem;
  margin: 0 auto;
}

.services div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33%;
  text-align: left;
  padding: 4rem 0;
}

.services div img {
  vertical-align: top;
  display: inline-block;
  padding-right: 3rem;
}

.services div div {
  vertical-align: top;
  width: 70%;
  padding: 0;
}

.services div div h6 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.services div div p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #b3b3b3;
  line-height: 2rem;
}

.services hr {
  background-color: #e5e5e5;
  height: .1rem;
  border: none;
}

.about-us.third {
  height: 20rem;
  padding-top: 2rem;
}

.design {
  background-image: url("./pictures/mountain-background.jpg");
  height: 90rem;
  position: relative;
}

.design img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 35%;
  height: auto;
}

@media (max-width: 1600px) {
  .design img:nth-child(2) {
    width: 25%;
    height: auto;
  }
}

.design img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 55%;
  bottom: -7%;
}

.about-us.fourth {
  height: 30rem;
}

.service {
  width: 80%;
  margin: 0 auto;
  font-size: 0;
  height: 60rem;
}

.service > img {
  width: 50%;
  vertical-align: top;
}

.service > div {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2rem;
  width: 50%;
  vertical-align: top;
}

.service > div > div {
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
}

.service > div > div p {
  margin-left: 1.5rem;
  font-size: 1.4rem;
  display: inline;
}

.service > div > div img:last-child {
  float: right;
  margin-top: .5rem;
}

.service > div .text {
  height: 24rem;
  overflow: auto;
  scrollbar-color: red;
  padding: 2rem;
  scrollbar-width: 10rem;
}

.service > div .text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #999999;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: .1rem;
}

.service > div .text::-webkit-scrollbar {
  width: 10px;
}

.service > div .text::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 1rem;
}

.service > div .text::-webkit-scrollbar-thumb {
  background: #95e1d3;
  border-radius: 1rem;
}

.service > div .text::-webkit-scrollbar-thumb:hover {
  background: #9ef5e5;
}

.service > div > div:not(:first-child) {
  margin-bottom: 2rem;
}

.review {
  height: 35rem;
  background-color: #f8f8f8;
}

.review > div {
  width: 80%;
  margin: 0 auto;
  padding-top: 10rem;
}

.review > div img {
  vertical-align: middle;
  float: left;
}

.review > div > img:nth-child(2) {
  margin-left: 10rem;
}

.review > div > img:last-child {
  float: right;
}

.review > div > div {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20rem;
  width: 80%;
}

.review > div > div hr {
  display: inline-block;
  width: 10%;
  height: .3rem;
  background-color: #f38181;
  border: none;
}

.review > div > div h6 {
  display: inline;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.4rem;
  margin-left: 2rem;
}

.review > div > div p {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #b1b1b1;
  margin-bottom: 3rem;
}

.names {
  width: 80%;
  margin: 0 auto 10rem;
  font-size: 0;
}

.names > div {
  display: inline-block;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.names > div h6 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.names > div p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #aaaaaa;
}

.logo {
  background-color: #f8f8f8;
  text-align: center;
  height: 25rem;
}

.logo img {
  padding-top: 5rem;
}

.gallery {
  font-size: 0;
  position: relative;
  margin-bottom: 10rem;
}

.gallery img {
  position: absolute;
}

.gallery > img:nth-child(2) {
  right: 96rem;
}

.gallery > img:nth-child(3) {
  right: 48rem;
}

.gallery > img:nth-child(4) {
  right: 0;
}

.gallery > img:nth-child(5) {
  top: 39rem;
}

.gallery > img:nth-child(6) {
  top: 39rem;
  left: 48rem;
  z-index: -1;
}

.gallery > img:nth-child(7) {
  top: 39rem;
  right: 0rem;
}
/*# sourceMappingURL=styles.css.map */